*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #0B2434;
  padding: 0 2em;
}

.inner-box{
  padding: 2em 1em;
  background: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1em;
  background-image: linear-gradient(45deg,
  rgba(255, 255, 255, 0.90),
  rgba(255, 255, 255, 0.95)), url(./assets/Tenzies_logo-removebg-preview.png);
  background-position: center;
  background-size: cover;
}

.title{
  color: #2B283A;
  font-weight: 800;
  text-transform: uppercase;
}

.instructions{
  max-width: 80%;
  text-align: center;
  color: #4A4E74;
  font-size: .9em;
  font-family: "Karla", sans-serif;
}
.stats{
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.die-container{
  width: 50%;
  display: grid;
  grid-template: auto auto/repeat(5, 1fr);
  gap: 1em;
  justify-content: space-evenly;
}
.die{
  width: 2.6em;
  height: 2.6em;
  border-radius: 3px;
  display: grid;
  cursor: pointer;
  place-content: center;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.is-held{
  background-color: #59E391;
}
.die:active{
  transform: scale(.98);
}
.roll-btn{
  background-color: #5035ff;
  padding: .7rem 2.2em;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1em 0 .7em;
}
.roll-btn:active{
  transform: scale(.98);
}

.controls{
  display: flex;
  align-items: center;
  gap: 1em;
}

.toggle-timer, .restart{
  display: flex;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.toggle-timer:active, .restart:active{
  transform: scale(.95);
}

.bottom-btn{
  width: 2.5em;
  height: 2.5em;
  place-self: center;
}

.play-btn{
  color: rgb(33, 33, 159);
}
.pause-btn{
  color: #000;
}
.restart-btn{
  color: #40885d;
}
@media(min-width: 750px){
  .inner-box{
    height: clamp(20em, 30em, 40em);
    width: clamp(20em, 45em, 80vw);
  }
  .die-container{
    gap: 23px;
    /* width: 50%; */
  }
  .die{
    width: 2.9em;
    height: 2.9em;
    font-size: 1.2em;
  }
}
@media (max-width: 700px){
  .stats{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 80%;
    justify-content: space-around;
    gap: .5em;
  }
}
@media(max-width: 350px){
  .die-container{
    gap: .7em;
  }
  .die{
    width: 2.1em;
    height: 2.1em;
  }
}
